footer{
    background-color: $color-2;
    
}
.card{
        background-color: $color-2;
        color: $color-1;
    }
.card-text{
    color: $color-3;
}
.footer-text{
    color: $color-3;
    text-align: center;
}